[Unit]
Description=hotkey listener daemon
After=network.target


[Service]
Type=simple
ExecStart=/path/to/project/target/release/hotkeys2bash /path/to/config.ini
User=<user>
Group=<user>
Restart=always 

[Install]
WantedBy=default.target