[Unit]
Description=hotkey2bash daemon
After=network.target


[Service]
Type=simple
ExecStart=/path/to/hotkeys2bash /path/to/config
User=${whoami}
Group=${whoami}
Restart=always 

[Install]
WantedBy=default.target
